#friends-display-link {
  background-color: #fafafa;
  display: block;
  text-align: center;
  padding: 12px 0px;
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: 10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.15);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin: 15px 0px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0px;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
}

.friends-screen__channel span {
  font-size: 13px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  animation: hideSplashScreen 500ms ease-in-out forwards;
  z-index: 4;
}
