#friends-display-link {
  background-color: #fafafa;
  display: block;
  text-align: center;
  padding: 12px 0px;
  font-size: 14px;
  margin-top: -15px;
  margin-bottom: 10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.15);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin: 15px 0px;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0px;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
}

.friends-screen__channel span {
  font-size: 13px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.4);
}
