.user-component span {
  font-size: 15px;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__avarta {
  height: 60px;
  width: 60px;
  border-radius: 40%;
  margin-right: 20px;
}

.user-component__avarta--xl {
  height: 70px;
  width: 70px;
}

.user-component__avarta--xs {
  height: 55px;
  width: 55px;
  border-radius: 25px;
}

.user-component__title {
  font-weight: 600;
  font-size: 18px;
}

.user-component__title--xs {
  font-weight: 600;
  font-size: 15px;
}

.user-component__subtitle {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  margin-top: 7px;
}

.user-component__subtitle--xs {
  font-size: 13px;
  margin-top: 5px;
}

.user-component {
  justify-content: space-between;
}

.user-component:hover {
  background-color: aliceblue;
}

.user-component__time {
  display: block;
  margin-bottom: 10px;
}

.user-component__phone-number {
  display: flex;
  align-items: center;
}

.user-component__phone-number i {
  margin-top: 7px;
  margin-left: 7px;
  color: rgb(67, 202, 67);
}
